# Excess PDFs

old_versions_pdfs/
Resume_Pointers.pdf

# Mac-files

.DS_Store

# Secondary output files

*.aux
*.log
*.glo
*.idx
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
